@charset "UTF-8";
/*Fuente */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.contenedor {
  padding: 80px 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.titulo {
  color: #021B79;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 60px;
}

.footer__icons, .cards {
  display: flex;
  justify-content: space-evenly;
}

/* Navbar */
#navbar {
  z-index: 1;
}

/* Encabezado */
header {
  width: 100%;
  height: 600px;
  background: #0575E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(2, 28, 121, 0.612), rgba(5, 117, 230, 0.612)), url(../img/Portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021c799c, rgba(5, 117, 230, 0.612)), url(../img/Portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header .textos-header {
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 2rem;
  color: #fff;
}
.textos-header h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

/* Sobre Nosotros */
.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imagen-about-us {
  width: 48%;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.contenido-textos h3 span {
  background: #0575E6;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding: 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Sección Portfolio */
.portfolio__grid {
  display: grid;
  height: 600px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  gap: 10px;
}

.portfolio__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.portfolio__item:nth-of-type(1) {
  grid-area: img1;
}

.portfolio__item:nth-of-type(2) {
  grid-area: img2;
}

.portfolio__item:nth-of-type(3) {
  grid-area: img3;
}

.portfolio__item:nth-of-type(4) {
  grid-area: img4;
}

.portfolio__item:nth-of-type(5) {
  grid-area: img5;
}

.portfolio__hover {
  position: absolute;
  background: #021c799c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 0.5rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.portfolio__item:hover .portfolio__hover {
  transform: translateX(0%);
}

.portfolio__icon {
  margin-top: 5px;
}

.portfolio__title {
  font-size: 1rem;
}

/* Sección Clientes */
.cards .card {
  background: #0575E6;
  width: 46%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img {
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
}
.cards .card .contenido-texto-card {
  width: 60%;
  color: #fff;
}
.cards .card .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

/* Sección Servicios */
.nuestros-servicios {
  padding-bottom: 30px;
}

.card-border {
  border: none;
  transition: all ease-out 0.2s;
}
.card-border:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 90%;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-weight: 300;
}

/* Seccíon Footer */
.footer {
  background: #0575E6;
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav__items {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 15px;
  font-weight: inherit;
}

.nav__items--footer {
  padding: 2px;
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer__title {
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer__container-icons {
  width: 60px;
  height: 60px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}
.footer__container-icons:hover {
  fill: var(--colorSecundary);
}

.footer__icon {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}

.fab.footer__icon {
  line-height: 60px;
}

/*# sourceMappingURL=style.css.map */

/* RESPONSIVE */

/* Home Responsive */

@media only screen and (max-width: 576px) {

  header {
      background-position: center;
  }

  nav {
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav>a {
      margin-right: 5px;

  }

  .textos-header h1 {
      font-size: 35px;
  }

  .textos-header h2 {
      font-size: 20px;
  }
}

/* Sobre Nosotros Responsive */

@media only screen and (max-width: 900px) {
  
  header {
      background-position: center;
  }

  .contenedor-sobre-nosotros {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos {
      width: 90%;
  }

  .imagen-about-us {
      width: 90%;
  }
}

/* Sección Clientes Responsive */

  .cards {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .cards .card {
      width: 90%;
  }

  .cards .card:first-child {
      margin-bottom: 30px;
  }

/* Sección Portfolio Responsive */
@media only screen and (max-width: 900px) {
  .portfolio__grid {
  grid-template-areas:
  "img1 img1 img2 img2"
  "img1 img1 img3 img3"
  "img4 img4 img5 img5";
  }
}  

/* Sección Footer Responsive */
@media only screen and (max-width: 900px) {
  .footer__grid {
  grid-template-columns: 1fr;
  }

  .footer__contact {
  grid-row: 1/2;
  }

  .nav--footer {
      font-weight: 300;
      justify-content: center;
  }
}



