@import "../base/variables";

/* Sección Contacto */

.contact-in {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.contact-map {
	width: 100%;
	height: auto;
	flex: 50%;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.contact-form {
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 30px;
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}
.contact-form-txt {
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	&::placeholder {
		color: #aaa;
	}
}
.contact-form-textarea {
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	&::placeholder {
		color: #aaa;
	}
}
.contact-form-btn {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 50px;
	background: $color-secundary;
	color: #fff;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}

/* Sección Contacto Responsive */
@media only screen and (max-width: 500px) {
    
    .contact-in {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-map {
        width: 90%;
    }
}