@import "../base/variables";
/* Sección Portfolio */

.portfolio__grid {
    display: grid;
    height: 600px;
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5";
    gap: 10px;
}

.portfolio__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:nth-of-type(1) {
        grid-area: img1;
    }

    &:nth-of-type(2) {
        grid-area: img2;
    }

    &:nth-of-type(3) {
        grid-area: img3;
    }

    &:nth-of-type(4) {
        grid-area: img4;
    }

    &:nth-of-type(5) {
        grid-area: img5;
    }

    &:hover {
        .portfolio__hover {
            transform: translateX(0%);
        }
    }
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.portfolio__hover {
    position: absolute;
    background: $color-transparency;
    top: 0;
    left: 0;
    @include parametros (100%, 100%, flex);
    font-size: 0.5rem;
    color: #fff;
    @include alineado;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.portfolio__icon {
    margin-top: 5px;
}

.portfolio__title {
    font-size: 1rem;
}

/* Sección Portfolio Responsive */
@media only screen and (max-width: 900px) {
    .portfolio__grid {
        grid-template-areas:
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            "img4 img4 img5 img5";
    }
}

@media screen and (max-width: 500px) {
    .portfolio__grid {
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-rows: 250px;
        gap: 10px;
    }
}