/* Sección Servicios */

.nuestros-servicios {
    padding-bottom: 30px;
}

.card-border {
    border: none;
    transition: all ease-out 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.card-img-top {
    width: 90%;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-weight: 300;
}

/* Sección Servicios Responsive */

@media only screen and (max-width: 900px) {
    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: start;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .card-img-top {
        width: 90%;
    }
}