@import "../base/variables";

/*Fuente */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

//Globales

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    padding: 80px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.titulo {
    color: $color-primary;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
}